
<html dir="ltr" lang="en-US">

<head>
    <!-- Document Meta
    ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--IE Compatibility Meta-->
    <meta name="author" content="zytheme" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Real Estate html5 template">
    <link href="/static/images/favicon/favicon.png" rel="icon">

    <!-- Fonts
    ============================================= -->
   
    <!-- Stylesheets
    ============================================= -->
    <link href="/static/css/external.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <style type="text/css">
        #panel {
            position: inherit;
            background-color: white;
            max-height: 60%;
            overflow-y: auto;
            top: 20%;
            right: 10px;
            width: 280px;
        }
        #panel .amap-call {
            background-color: #009cf9;
            border-top-left-radius: 4px;
   	        border-top-right-radius: 4px;
        }
        #panel .amap-lib-transfer {
	        border-bottom-left-radius: 4px;
   	        border-bottom-right-radius: 4px;
            overflow: hidden;
        }
  h4 {
  font-family: inherit;
  line-height: 1.8;
  font-weight: 300;
  color: inherit;
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: .5rem
}

    </style>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->

    <!-- Document Title
    ============================================= -->
    <title>住哪儿| Where to live</title>
    <script src="/static/js/functions.js"></script>
    <!-- <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" /> -->
    <!-- <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" /> -->

</head>

<body>
    <!-- Document Wrapper
	============================================= -->
    <div id="wrapper" class="wrapper clearfix">
        <header id="navbar-spy" class="header header-1 header-light header-fixed">
            <nav id="primary-menu" class="navbar navbar-fixed-top">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
                        <a class="logo" href="index.html">
					<img class="logo-light" src="/static/images/logo/logo-light.png" alt="Land Logo">
					<img class="logo-dark" src="/static/images/logo/logo-dark.png" alt="Land Logo">
				</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse pull-right" id="navbar-collapse-1">
                        <ul class="nav navbar-nav nav-pos-center navbar-left">
                            <!-- 首页 Menu -->
                            <li><a href="{% url 'index' %}">首页</a></li>
                            <!-- li end -->

                            <!-- 地图 Menu -->
                            <li><a href="{% url 'map' %}">地图</a></li>
                            <!-- li end -->

                            <!-- 租房 Menu -->
                            <li><a href="{% url 'rent' %}">租房</a></li>
                            <!-- li end -->

                            <!-- 小区 Menu-->
                            <li><a href="{% url 'xiaoqu' %}">小区</a></li>
                            <!-- li end -->

                            <!-- 我的 Menu -->
                            <li class="has-dropdown active">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">我的</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'infor' %}">个人信息</a></li>
                                    <li><a href="{% url 'shoucang' %}">我的收藏</a></li>
                                    <li><a href="home-property.html">推荐房源</a></li>
                                </ul>
                            </li>
                            <!-- li end -->

                            <!-- 帮助 Menu -->
                            <li><a href="{% url 'help' %}" target="_self">帮助</a></li>
                        </ul>
                        <!-- Module Signup  -->
                            {% if request.user.is_authenticated %}
                            <li><a href="{% url 'logout' %}">退出登录</a></li>
                            {% else %}
                        <div class="module module-login pull-left">
                            <a class="btn-popup" data-toggle="modal" data-target="#signupModule">登录</a>
                            <div class="modal register-login-modal fade" tabindex="-1" role="dialog" id="signupModule">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="row">

                                                <!-- Nav tabs -->
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a href="#login" data-toggle="tab">登录</a>
                                                    </li>
                                                    <li><a href="#signup" data-toggle="tab">注册</a>
                                                    </li>
                                                </ul>
                                                <!-- Tab panes -->
                                                <div class="tab-content">
                                                    <div class="tab-pane fade in active" id="login">
                                                        <div class="signup-form-container text-center">
                                                            <form class="mb-0" method="get" action="{% url 'login' %}">
                                                                <div class="or-text">
                                                                    <span></span>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="email" class="form-control" name="email" id="login-email" placeholder="Email 地址">
                                                                </div>
                                                                <!-- .form-group end -->
                                                                <div class="form-group">
                                                                    <input type="password" class="form-control" name="password" id="login-password" placeholder="请输入密码">
                                                                </div>
                                                                <!-- .form-group end -->
                                                                <div class="input-checkbox">
                                                                    <label class="label-checkbox">
                                <span>记住密码</span>
                                <input type="checkbox">
                                <span class="check-indicator"></span>
                            </label>
                                                                </div>
                                                                <input type="submit" class="btn btn--primary btn--block" value="登录">
                                                                <a href="#" class="forget-password">忘记密码?</a>
                                                                {% csrf_token %}
                                                            </form>
                                                            <!-- form  end -->
                                                        </div>
                                                        <!-- .signup-form end -->
                                                    </div>
                                                    <div class="tab-pane" id="signup">
                                                       <form class="mb-0" method="get" action="{% url 'register' %}">
                                                            <div class="or-text">
                                                                <span></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="name" id="full-name" placeholder="姓名">
                                                            </div>
                                                            <!-- .form-group end -->
                                                           <div class="form-group">
                                                                <input type="email" class="form-control" name="email" id="register-email" placeholder="Email 地址">
                                                            </div>
                                                            <!-- .form-group end -->
                                                           <div class="form-group">
                                                                <input type="password" class="form-control" name="password" id="register-password" placeholder="密码">
                                                            </div>
                                                            <!-- .form-group end -->
                                                           <div class="input-checkbox">
                                                                <label class="label-checkbox">
                                <span>我已经阅读并同意 <a href="#">用户协议</a></span>
                                <input type="checkbox">
                                <span class="check-indicator"></span>
                            </label>
                                                            </div>
                                                            <input type="submit" class="btn btn--primary btn--block" value="注册">
                                                        {% csrf_token %}
                                                        </form>
                                                        <!-- form  end -->
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                                <!-- /.modal -->
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>

        </header>

        <!-- properties-split
============================================ -->
        <section id="properties-split" class="properties-split pt-0 pb-0 bg-white">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-5">
                        <form class="from-split" method="get" action="{% url 'renthandle' %}">
                        {% csrf_token %}
                            <div class="form-box search-properties static pr-0 pl-0" >
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="form-group input-icon">
                                            <i class="fa fa-map-marker"></i>
                                            <input type="text" class="form-control" id="location" placeholder="地址" name="location" value="">
                                        </div>
                                    </div>

                                    <!-- .col-md-12 end -->

                                    <div class="col-xs-12 col-sm-4 col-md-3 option-hide">
                                        <div class="form-group">
                                            <div class="select--box">
                                                <i class="fa fa-angle-down"></i>
                                                <select name="select-bedrooms" id="select-bedrooms">
								                    <option value="" disabled selected hidden>户型</option>

								                    <option value="一居">一居</option>
								                    <option value="二居">两居</option>
								                    <option value="三居">三居</option>
								                    <option value="四居">四居</option>

							                    </select>
                                            </div>
                                        </div>
                                    </div>

                                   <!-- .通勤方式 -->
                                   <div class="col-xs-12 col-sm-4 col-md-4 option-hide">
                                    <div class="form-group">
                                        <div class="select--box">
                                            <i class="fa fa-angle-down"></i>
                                            <select name="select-way" id="select-way">
                            <option value="" disabled selected hidden>选择通勤方式</option>
                            <option value="地铁">地铁</option>
                            <option value="公交">公交</option>
                            <option value="地铁+公交">地铁+公交</option>
                        </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- .通勤时间 -->
                                <div class="col-xs-12 col-sm-4 col-md-5 option-hide">
                                    <div class="filter mb-30">
                                        <p>
                                            <label for="time">通勤时间:</label>
                                            <input id="time" value='30分钟' ,type="text" name="time" class="amount" readonly>
                                        </p >
                                        <div class="slider-range"></div>
                                    </div>
                                </div>
                                    <!-- .价格区间 -->
                                    <div class="col-xs-12 col-sm-12 col-md-12 option-hide">
                                        <div class="filter mb-30">
                                            <p>
                                                <label for="price">价格区间:</label>
                                                <input id="price" type="text" class="amount2" readonly name="price">
                                            </p>
                                            <div class="slider-range2"></div>
                                        </div>
                                    </div>

                                    <!-- .col-md-3 end -->
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <input value="搜索" name="submit" id="search" class="btn btn--primary btn--block mb-30" >
                                    </div>
                                    <!-- .col-md-12 end -->
                                </div>
                                <!-- .row end -->
                            </div>
                            <!-- .form-box end -->
                        </form>
                        <div class="row wrapper-bg pt-45">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="properties-filter clearfix">
                                    <div class="select--box pull-left">
                                        <label>以下是为您匹配的小区：</label>
                                    </div>
                                    <!-- .select-box -->
                                    <div class="view--type pull-right">
                                        <a id="switch-list" href="#" class=""><i class="fa fa-th-list"></i></a>
                                        <a id="switch-grid" href="#" class="active"><i class="fa fa-th-large"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="properties properties-grid">
                                <!-- .property-item #1 -->
                                {% for house in subdetail %}
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="property-item">
                                        <div class="property--img">
                                            <a href="property-single-gallery.html">
                                <img src="/static/images/properties/2.jpg" alt="property image" class="img-responsive">
								</a>
                                            <span class="property--status">For Sale</span>
                                        </div>
                                        <div class="property--content">
                                            <div class="property--info">
                                                <h5 class="property--title"><a href="property-single-gallery.html">{{ house.htype }}</a></h5>
                                                <p class="property--location">{{ house.htitle }}</p>
                                                <p class="property--price">{{ house.hprice }}</p>
                                            </div>
                                            <!-- .property-info end -->
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                                <!-- .property item end -->
                            </div>
                        </div>
                        <!-- .row -->
                    </div>
                    <!-- .col-md-7 end -->
                    <div class="col-xs-12 col-sm-12 col-md-7 col-map">
                        <div class="map-horizontal">
                            <div id="gaodeMap" style="width:58.2%;height:86.5vh;overflow:visible;"></div>
                            <div id="panel"></div>
                        </div>
                        
                    </div>
                    <!-- .col-md-5 end -->
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->

        </section>
        <!-- #properties-split  end -->

    </div>
 
    <!-- #wrapper end -->

    <!-- Footer Scripts
============================================= -->
    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/functions.js"></script>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.13&key=c09c4ec1d247fab72b361795b999bb85&plugin=AMap.ElasticMarker,AMap.ToolBar,AMap.Scale,AMap.AdvancedInfoWindow,AMap.Autocomplete,AMap.Transfer,AMap.ArrivalRange,AMap.Geocoder,AMap.CitySearch,AMap.Geolocation"></script> 
    <script type="text/javascript">
        var AMapUIProtocol = 'https:';  //注意结尾包括冒号
        </script>
        <!-- https 方式引入入口文件 -->
        <script src="https://webapi.amap.com/ui/1.0/main.js"></script>

  <script>

    var map = new AMap.Map('gaodeMap', {
    resizeEnable: true, //是否监控地图容器尺寸变化
    zoom:11, //初始化地图层级



    });
    // 在图面添加工具条控件，工具条控件集成了缩放、平移、定位等功能按钮在内的组合控件
    map.addControl(new AMap.ToolBar({
        liteStyle:true
    }));


    map.addControl(new AMap.Scale());
   // 在图面添加比例尺控件，展示地图在当前层级和纬度下的比例尺

    // 在图面添加定位控件，用来获取和展示用户主机所在的经纬度位置
    map.addControl(new AMap.Geolocation());


//定义全区变量---------------------------------------------------------------------------------------------
    //公交到达圈对象
    var arrivalRange = new AMap.ArrivalRange();
    //经度，纬度，时间，通勤方式
    var x,y,t,vehicle="SUBWAY,BUS"
    //工作地点，工作地点标记
    var workAddress='',workMarker,workLocation;
    //小区标记队列
    var xqMarkerArray=[];
    //多边形队列，储存公交到达的计算结果
    var polygonArray=[];

    //路径规划
    var amapTransfer;
    var positionPicker;
    var city='上海';











//模块----------------------------------------------

//信息窗口，展示房源信息
var infoWindow=new AMap.InfoWindow({
    offset:new AMap.Pixel(0,-30)
});
// 自动补全工作地点
var autoOptions = {
        input: "location",
        city:city
    };
var auto = new AMap.Autocomplete(autoOptions);
AMap.event.addListener(auto, "select", workLocationSelected);

function workLocationSelected(e) {
    workAddress=''
    //更新工作地点，
    workAddress = e.poi.name;
    workLocation=e.poi.location;
    positionPicker.start(workLocation);

}


//函数----------------------------------------------

//删除工作地址
function delpolyonArray(){
    if(polygonArray) map.remove(polygonArray)
    polygonArray=[];
    if (amapTransfer) amapTransfer.clear();
    if(xqMarkerArray) map.remove(xqMarkerArray)
}



//加载小区图标
function addxqmarker(xqinfo1) {
    var xqMarker=new AMap.Marker({
        map:map,
        title:xqinfo1.sname,
        position:xqinfo1.lnglat

    });

    xqMarkerArray.push(xqMarker)
    xqMarker.content="<div>小区：<a target = '_blank' href=''></a><div>"
    xqMarker.on('click',function(e){
        infoWindow.setContent(e.target.content);
        infoWindow.open(map,e.target.getPosition());
        if (amapTransfer) amapTransfer.clear();
                amapTransfer = new AMap.Transfer({
                    map: map,
                    hideMarkers:true,
                    policy: AMap.TransferPolicy.LEAST_TIME,
                    city:city,
                    panel: 'panel'
                });

                amapTransfer.search(workLocation, e.target.getPosition(), function(status, result) {
        // result即是对应的公交路线数据信息，相关数据结构文档请参考  https://lbs.amap.com/api/javascript-api/reference/route-search#m_TransferResult
        if (status === 'complete') {
            console.log('绘制公交路线完成')
        } else {
            console.log('公交路线数据查询失败' + result)
        }
    });
    }
    );
}


//加载工作地周围的公交到达圈
function loadWorkRange(workLocation1,t1, color1, v1) {
    delpolyonArray();
    arrivalRange.search(workLocation1, t1, function(status, result) {
        if (result.bounds) {
            for (var i = 0; i < result.bounds.length; i++) {
                var polygon = new AMap.Polygon({
                    map: map,
                    fillColor: color1,
                    fillOpacity: "0.4",
                    strokeColor: color1,
                    strokeOpacity: "0.8",
                    strokeWeight: 1
                });
                polygon.setPath(result.bounds[i]);
                polygon.setOptions({'zIndex':-10})
                polygonArray.push(polygon);
            }
            // map.add(polygonArray);
            map.setFitView();
        }
    }, {
        policy: v1
    });
}
  
function onClick(e) {
    map.remove(polygonArray);
   positionPicker.start(e.lnglat);
}
map.on('click', onClick);

    AMapUI.loadUI(['misc/PositionPicker'], function(PositionPicker) {
      positionPicker = new PositionPicker({
        mode:'dragMarker',//设定为拖拽地图模式，可选'dragMap'、'dragMarker'，默认为'dragMap'
        map:map//依赖地图对象
    });
    //TODO:事件绑定、结果处理等
  
    positionPicker.on('success',function(positionResult){
        if(workAddress==''){
            document.getElementById('location').value = workAddress;
            workAddress=positionResult.address;
            workLocation=positionResult.position;
        }
        else{
            workAddress=positionResult.address;
            document.getElementById('location').value = workAddress;
            workLocation=positionResult.position;
        }
    });
    positionPicker.start();
    
});
function bd_decrypt(bd_lng, bd_lat) {
    var X_PI = Math.PI * 3000.0 / 180.0;
    var x = bd_lng - 0.0065;
    var y = bd_lat - 0.006;
    var z = Math.sqrt(x * x + y * y) - 0.00002 * Math.sin(y * X_PI);
    var theta = Math.atan2(y, x) - 0.000003 * Math.cos(x * X_PI);
    var gg_lng = z * Math.cos(theta);
    var gg_lat = z * Math.sin(theta);
    return [gg_lng,gg_lat]
}
function addmarkerinpolygon() {

     for (var i = 0; i<xiaoquinfolist.length; i++) {
          console.log(9999)
         var inRing=false;
         for(var j=0;j<polygonArray.length;j++){

             inRing =(inRing||AMap.GeometryUtil.isPointInRing(xiaoquinfolist[i].lnglat,polygonArray[j].getPath()));
         }

         if (inRing){
             console.log(100000)
             addxqmarker(xiaoquinfolist[i])
         }
     }
}
var xiaoquinfolist=[]
 $(document).ready(function () {

            $("#search").click(function () {
                //map.off('click',onClick)

                var price=$("#price").val();
                var select_bedrooms=$("#select-bedrooms").val();

                        var t2=parseInt(document.getElementById('time').value.slice(0,document.getElementById('time').value.search('分钟')));
                         if(document.getElementById("select-way").value=='地铁'){
                            vehicle='SUBWAY'
                         }
                         if(document.getElementById("select-way").value=='公交'){
                            vehicle='BUS'
                         }

                         loadWorkRange(workLocation,t2,'#3f67a5',vehicle);

                         xiaoquinfolist=[]
                $.ajaxSettings.async = false;
                $.getJSON("{% url 'renthandle' %}",{'price':price,'select-bedrooms':select_bedrooms},function(ret){
                    $.each(ret,function (i,xqdict) {
                        //console.log(xqdict);
                        var baiduzuobiao=[parseFloat(xqdict.jingdu),parseFloat(xqdict.weidu)];
                        //console.log(baiduzuobiao);
                        xqdict['lnglat']=bd_decrypt(parseFloat(xqdict.jingdu),parseFloat(xqdict.weidu));
                        //console.log(xqdict.lnglat);


                        //addxqmarker(xqdict)
                        xiaoquinfolist.push(xqdict)
    });
                    });
                console.log(xiaoquinfolist);
                addmarkerinpolygon()
                console.log(12312312321)
 });

});


</script>


</body>

</html>
