<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/2.2.4/jquery.min.js"></script>



<table class="table table-bordered">
  <tbody>
    <tr>
    <td></td>
    <td>通勤便利</td>
    <td>生活便利</td>
    <td>教育水平</td>
    <td>医疗资源</td>
    <td>绿化环境</td>
 	<td>租房价格</td>

    </tr>
    <tr>
    <td>通勤便利</td>
    <td>1</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    <tr>
       <td>生活便利</td>
      <td><select class="form-control">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
</td>
      <td>1</td>
      <td></td>
       <td></td>
    <td></td>
    <td></td>
    </tr>
    <tr>
      <td>教育水平</td>
      <td><select class="form-control">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
</td>
      <td><select class="form-control">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
</td>
      <td>1</td>
         <td id="demo"></td>
    <td></td>
    <td></td>
    </tr>
    <tr>
       <td>医疗资源</td>
      <td></td>
      <td></td>
      <td></td>
         <td>1</td>
    <td></td>
    <td></td>
    </tr>
    <tr>
       <td>绿化环境</td>
      <td><select class="form-control">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
</td>
      <td><select class="form-control">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
</td>
     <td><select class="form-control">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
</td>
    <td><select class="form-control">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
</td>
    <td>1</td>
      <td></td>
    </tr>
        <tr>
       <td>租房价格</td>
      <td><select class="form-control">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
</td>
      <td><select class="form-control">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
</td>
      <td><select class="form-control">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
</td>
    <td><select class="form-control">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
</td>
    <td><select class="form-control">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
<select class="form-control">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>